obj
bin
/VS.core.AMI/obj
/VS.Core.Business/obj
/VS.Core.Business/bin
/VS.Core.dataEntry/bin
/VS.Core.dataEntry/obj
/VS.core.IO/bin
/VS.core.IO/obj
/VS.core.Report/bin
/VS.core.Report/obj
/VS.Core.Repository/obj
/VS.Core.Repository/bin
/VS.core.Request/obj
/VS.core.Request/bin
/VS.core.RMI/bin
/VS.core.RMI/obj
/vsrolAPI2022/obj
/vsrolAPI2022/bin
